* {
    margin: 0;
    padding: 0;
}

:root {
    --bac-image: url(./photo/kitchen.jpg);
    --main: rgb(199, 214, 224);
    --var: rgb(253, 247, 247);
}

.section-hero {
    width: 100%;
    height: 100vh;
    /* box-sizing: border-box; */
    background-color: var(--main);
}

.hero-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 40px;
}

.personnel-info {
    width: 25%;
    height: 90%;
    margin: 0 0 0 20px;
    border-radius: 10px;
    background-color: var(--var);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 30px;
}

.personnel-info h2 {
    margin-top: 10px;
    color: rgb(14, 115, 209);
}

#cards {
    width: 100%;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

}

.personnel-info .profil-personnel {
    width: 80%;
    height: 60px;
    background-color: rgb(245, 245, 245);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 6px black;
}

.personnel-info .profil-personnel img {
    width: 50px;
    height: 50px;
    border: 2px dotted blue;
    border-radius: 25px;
}

.personnel-info .profil-personnel h4 {
    margin-top: -30px;
}

.profil-personnel p {
    cursor: pointer;
    color: rgba(255, 197, 7, 0.788);
    transition: .4s ease;
}

.profil-personnel p:hover {
    color: red;
    transform: translate3d(5px);
}

.personnel-info button {
    position: absolute;
    bottom: 10px;
    width: 80%;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(15, 110, 199);
    color: white;
}

.work-space {
    background-image: var(--bac-image);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    width: 90%;
    height: 650px;
    margin-right: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 2fr;
    gap: 25px
}

/* .work-space div{
     margin: 10px 0;
    width: 380px;
    height: 224px; 
    background-color: blue;

} */

.add-worker-modal {
    position: absolute;
    top: 20px;
    left: 280px;
    width: 45%;
    background-color: white;
    backdrop-filter: blur(5px);
    align-items: center;
    border-radius: 10px;
    padding-top: 15px;
    z-index: 1;
    box-shadow: 0px 0px 5px black;
    height: 90vh;
    overflow-y: auto;
}

.close-modal-content {
    display: flex;
    justify-content: space-around;
    gap: 150px;
}

.close-modal-content p {
    font-size: 25px;
    color: rgb(14, 115, 209);
    font-weight: 700;
}

.close-modal-content button {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: rgb(21, 116, 204);
}

.add-worker-inputs label,.email-phone-information label {
    display: block;
    margin: 15px 0 0 25px;
    font-weight: 900;
    color: rgb(46, 46, 46);
}

.add-worker-inputs,.email-phone-information  {
    padding-top: 60px;
    height: 100%;
    display: flex;
    flex-direction: column;

}

.add-worker-inputs input,.email-phone-information input,
.add-worker-inputs select {
    height: 40px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    border-radius: 5px;
    border: .1px solid rgb(184, 180, 180);

}

.generate-image {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    padding-top:20px ;

}

.generate-image img {
    width: 80%;
    height: 80%;
    border-radius: 50%;
    border: 2px dotted blue;
}.experience-form h4{
    margin: 10px;
}

.experience-form-Content {
    width: 90%;
    height: 80%;
    margin: 0 auto;
    background-color: rgb(246, 246, 248);
    display: flex;
    box-shadow: 0 0 4px rgb(97, 97, 97);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.experience-form-Content input
 {

    height: 45px;
    width: 90%;
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(104, 101, 101);
    border-radius: 10px;
}

.experience-form-Content label {
    align-self: first baseline;
    padding: 4px 0 5px 30px;
    font-weight: 900;
    color: rgb(71, 69, 69);
}
.add-exp{
    margin-top: 30px;
    width: 100%;
    height: 40px;
    text-align: center;
    align-items: center;
}
.add-exp button{
    width: 120px;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(250, 172, 28);
    border: none;
}
.btnSubmit{
    padding:15px 0px 15px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.btnSubmit input{
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: 900;
    background-color: rgb(21, 116, 204);
    width: 140px;
    height: 45px;
}
.is_hidden {
    display: none;
}