* {
    margin: 0;
    padding: 0;
}

:root {
    --bac-image: url(./photo/kitchen.jpg);
    --main: rgb(213, 230, 236);
    --var: rgb(255, 255, 255);
}

body {
    height: 100vh;
    position: relative;
}

.section-hero {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    position: relative;
}

.section-hero.backdrop {
    filter: blur(8px);
    pointer-events: none;
    background-color: #777676;
}


.hero-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 40px;
}

.personnel-info {
    width: 25%;
    height: 90%;
    margin: 0 0 0 20px;
    border-radius: 10px;
    background-color: var(--var);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 5px;
    border-left: 3px solid black;
    border-bottom: 4px solid black;
    box-shadow: 0 0 5px black;
}

.personnel-info h2 {
    margin-top: 10px;
    color: rgb(14, 115, 209);

}

#cards {
    width: 100%;
    height: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;

}

#cards::-webkit-scrollbar {
    width: 5px;
}

#cards::-webkit-scrollbar-track {
    background: #fffcfc;
}

#cards::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

#cards::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.profil-personnel {
    width: 80%;
    height: 60px;
    background-color: rgb(245, 245, 245);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 0 10px;
    margin: 5px 0 5px;
    border-radius: 10px;
    box-shadow: 0 0 6px black;
    /* flex-wrap: wrap; */
    transition: all .5s ease;
}

.profil-personnel:hover {
    transform: translateX(5px);
}

.profil-personnel img {
    width: 55px;
    height: 55px;
    border: 2px dotted blue;
    border-radius: 50%;
}

.profil-personnel h4 {
    text-align: center;
    margin: 0 0 5px;
    font-size: 1rem;
}

.profil-personnel p {
    margin: 0;
    font-size: 0.9rem;
    color: rgba(255, 197, 7, 0.788);
    cursor: pointer;
    transition: 0.3s;
}

.profil-personnel p:hover {
    color: red;
}

.profil-personnel span {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.75rem;
    color: gray;
}

.personnel-info button {
    position: absolute;
    bottom: 10px;
    width: 80%;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(15, 110, 199);
    color: white;
}

/* .canvas{
    display: grid;
}

.canvas img {
    grid-row: 1/2;
    grid-column: 1/2;
}

.canvas svg {
    grid-row: 1/2;
    grid-column: 1/2;
}

svg polygon {
    background-color: rgba(255, 255, 255, 0.397);
} */


.work-space {
    background-image: url(./photo/kitchen.jpg);
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 10px;
    width: 90%;
    height: 800px;
    margin-right: 10px;
}

.container {
    display: grid;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(20, 1fr);
    grid-template-columns: repeat(20, 1fr);
    /* grid-template-areas:
        "div1 div1 div7 div2 div3"
        "div4 div4 div7 div8 div8"
        "div4 div4 div7 div5 div6";
        gap: 10px; */
}

.div1 {
    grid-column: 1 / 9;
    grid-row: 1 / 8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div2 {
    grid-column: 1/9;
    grid-row: 8/21;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div3 {
    grid-column: 12 / 17;
    grid-row: 1 / 8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div4 {
    grid-column: 17/21;
    grid-row: 1 / 8;
    display: flex;
    align-items: center;
    justify-content: center;

}

.div5 {
    grid-column: 12 / 16;
    grid-row: 14/21;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div6 {
    grid-column: 17/21;
    grid-row: 14/21;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div7 {
    grid-area: div7;
}

.div8 {
    grid-area: div8;
}

.div1,
.div2,
.div3,
.div4,
.div5,
.div6 {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

/* .container>div {
    min-height: 100px;
}

.div1 {
    min-height: unset;
} */

.container .chose-employee-btn {
    width: 40px;
    height: 30px;
    margin-bottom: 15px;
    color: #fffcfc;
    border: none;
    border-radius: 5px;
}

.add-worker-modal {
    position: absolute;
    top: 20px;
    left: 280px;
    width: 45%;
    background-color: white;
    backdrop-filter: blur(5px);
    align-items: center;
    border-radius: 10px;
    padding-top: 15px;
    z-index: 1000;
    box-shadow: 0px 0px 5px black;
    height: 90vh;
    overflow-y: auto;
}

.add-worker-modal::-webkit-scrollbar {
    width: 7px;
}

.add-worker-modal::-webkit-scrollbar-track {
    background: #fffcfc;
}

.add-worker-modal::-webkit-scrollbar-thumb {
    background-color: #b9b8b8;
    border-radius: 10px;
}

.add-worker-modal::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.close-modal-content {
    display: flex;
    justify-content: space-around;
    gap: 150px;
}

.close-modal-content p {
    font-size: 25px;
    color: rgb(14, 115, 209);
    font-weight: 700;
}

.add-worker-inputs label,
.email-phone-information label {
    display: block;
    margin: 15px 0 0 25px;
    font-weight: 900;
    color: rgb(110, 109, 109);
}

.add-worker-inputs,
.email-phone-information {
    padding-top: 60px;
    height: 100%;
    display: flex;
    flex-direction: column;

}

.add-worker-inputs input,
.email-phone-information input,
.add-worker-inputs select {
    height: 40px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    border-radius: 5px;
    border: .1px solid rgb(184, 180, 180);

}

.generate-image {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    padding-top: 20px;

}

.generate-image img {
    width: 80%;
    height: 80%;
    border-radius: 50%;
    border: 2px dotted blue;
}

.experience-form h4 {
    margin: 10px;
}

.experience-form-Content {
    width: 90%;
    height: 80%;
    margin: 0 auto;
    background-color: rgb(245, 249, 255);
    display: flex;
    box-shadow: 0 0 4px rgb(97, 97, 97);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.experience-form-Content input {

    height: 45px;
    width: 90%;
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(104, 101, 101);
    border-radius: 10px;
}

.experience-form-Content label {
    align-self: first baseline;
    padding: 4px 0 5px 30px;
    font-weight: 900;
    color: rgb(136, 134, 134);
}

.add-exp {
    margin-top: 30px;
    width: 100%;
    height: 40px;
    text-align: center;
    align-items: center;
}

.add-exp button {
    width: 120px;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(250, 172, 28);
    border: none;
}

.btnSubmit {
    padding: 15px 0px 15px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.btnSubmit .btnSubmitCancel {
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: 900;
    background-color: rgb(52, 52, 53);
    width: 140px;
    height: 45px;
}

.btnSubmit .btn-submit {
    background-color: rgb(21, 116, 204);
}

.error-Name {
    width: 50%;
    height: 30px;
    color: rgb(214, 0, 0);
    text-align: center;
    font-weight: 700;
    background-color: rgb(219, 138, 138);
    padding-top: 20px;
    border-left: 14px solid rgb(241, 6, 6);
    border-bottom: 4px solid rgb(241, 6, 6);
    border-radius: 5px;
    margin: 0 auto;
}

.errorexp {
    width: 60%;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid red;
    box-shadow: 0 0 10px red;
}

/* details section */
.Details-modal {
    position: absolute;
    top: 43px;
    left: 22%;
    width: 30%;
    /* max-width: 600px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    gap: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.close-details-modal {
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
}

.close-details-modal span {
    font-size: 24px;
    font-weight: 700;
    color: #555;
}

.close-details-modal button {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    background-color: rgb(182, 178, 178);
    cursor: pointer;
}

.details-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.worker-image-detail {
    flex: 1 1 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.worker-image-detail img {
    width: 100%;
    max-width: 180px;
    height: auto;
    border-radius: 50%;
    border: 2px dotted blue;
}

.worker-info-detail {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.worker-info-detail p {
    font-size: 16px;
}



/* zone employee */
.employee-conference-room {
    width: fit-content;
    height: 40px;
    background-color: rgb(245, 245, 245);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 0 10px;
    margin: 0 auto;
    margin-bottom: 6px;
    border-radius: 10px;
    gap: 5px;
    box-shadow: 0 0 6px black;
    /* flex-wrap: wrap; */
    transition: all .5s ease;
}

.employee-conference-room img {
    width: 30%;
    height: 80%;
    border-radius: 50%;
}

.employee-conference-room h4 {
    font-size: 12px;

}

.employee-conference-room p {
    font-size: 10px;
}

.select-profile {
    width: 13%;
    height: 40%;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgb(139, 139, 139);
    background-color: rgb(243, 238, 238);
    position: absolute;
    top: 230px;
    right: 620px;
    margin: 0 auto;
    text-align: center;
    padding-left: 20px;
    overflow-y: auto;
}

.side-bare-title {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.side-bare-title button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #c7c5c5;
    color: #777676;
    border: none;
}

.select-profile h3 {
    margin: 10px 0 10px;
}

.worker-experience-detail {
    width: 100%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.worker-experience-detail div {
    width: 30%;
    background-color: #cccaca34;
    text-align: center;
    border-radius: 10px;
    margin: 0 10px 10px;

}

.zones .removeworker {
    position: absolute;
    top: 0;
    right: 0;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    border-radius: 50%;
    border: none;
    background-color: rgb(230, 48, 48);
}

.zones {
    margin-right: 40px;
}

.is_hidden {
    display: none;
}
@media (max-width: 767px) {

    html, body {
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
    }

    body {
        background-color: #fff; 
    }

    .section-hero {
        width: 100%;
        height: 100vh; 
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start; 
        align-items: center;  
        box-sizing: border-box;

    }

    .hero-content {
        width: 100%;
        height: 100%; 
        display: flex;
        flex-direction: column; 
        justify-content: center;
        align-items: center;
        gap: 20px; 
        box-sizing: border-box;
    }

    .personnel-info {
        width: 60%; 
        max-height: 400px; 
        /* margin: 10px 0; */
        position: relative; 
        top: 10px;
        left: -85px;
    }

    .work-space {
        width: 100%;
        height: auto; 
        min-height: 400px; 
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        margin: 20px 0;
        border-radius: 10px;
    }

    .add-worker-modal {
        width: 90%;
        left: 5%;
        top: 20px;
        max-height: 80vh;
        overflow-y: auto;
        padding: 15px;
    }


    .select-profile {
        width: 40%;
        max-height: 270px;
        top: 10px;
        left: 55%;
        padding: 10px;
    }

    .Details-modal {
        width: 80%;
        left: 3%;
        top: 20px;
        padding: 15px;
    }

    .details-content {
        width: 100%;
        flex-direction: column;
        gap: 20px;
    }

    .worker-info-detail p {
        font-size: 12px;
        text-align: center;
    }

    .employee-conference-room {
        max-width: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    .employee-conference-room img {
        display: none; 
    }

    .add-worker-inputs input,
    .email-phone-information input,
    .add-worker-inputs select,
    .experience-form-Content input {
        width: 95%;
    }

    .btnSubmit .btnSubmitCancel,
    .btnSubmit .btn-submit,
    .add-exp button,
    .personnel-info button {
        width: 90%;
        font-size: 0.9rem;
    }

}
